{% extends "base/user-pages-template.html" %}

{% block extension-styles %}

{% endblock %}

{% block content %}
    <p>Transfer history:</p>
        {% csrf_token %}
        {% for transfer in transfers%}
            <div class="card">
                <p class="id_sender">{{ transfer.sender }}</p>
                <p class="id_recipient_name">{{ transfer.recipient_name }}</p>
                <p class="id_recipient_account">{{ transfer.recipient_account }}</p>
                <p class="id_title">{{ transfer.title }}</p>
                <p class="id_amount">{{ transfer.amount }}</p>
                <p class="id_date">{{ transfer.date }}</p>
            </div>
        {% endfor %}
{% endblock %}